/*comics_corner*/

	body {
		background-image: url('../images/fadedspider01.jpg'); 
		background-repeat: repeat;	
		background-attachment: fixed;		
		margin: 0px 0px 10px 0px;
		padding: 0px;
		cursor: default;
	}
	
	#main {		
		margin: 0 auto;
		width: 900px;
		height: inherit;
		position: relative;
	}
		
	#boundary {
		height: inherit;
		background-color: white;
		border-left: solid navy 10px;
		border-right: solid navy 10px;
		border-bottom: solid navy 10px;
		overflow: hidden;
	}	
	
	#boxShadow {
		box-shadow: 0px 0px 10px 2px black;
	}
	
	#header {		
		margin: 0 auto;		
		background-color: navy;
	}
	
	#home {
		float: left;
		margin: 2px 2px -1px 2px;
	}
	
	#google_translate_element {
		height: 28px;
		float: right;
		margin: 2px;
	}

	/*fading menu styles*/	
	#top_menu {
		position: fixed;
		z-index: 1;
		top: 0px;
		float: left;
		margin: 0px 0px 0px 9px;
		height: 75px;
		width: 882px;
		background-color: navy;
		display: none;
		box-shadow: 0px 8px 6px -6px black;
		
			/* gradient color */
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(top,  #ffffff 0%, #0000dc 0%, #000080 8%, #000080 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(0%,#0000dc), color-stop(8%,#000080), color-stop(100%,#000080)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #ffffff 0%,#0000dc 0%,#000080 8%,#000080 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #ffffff 0%,#0000dc 0%,#000080 8%,#000080 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #ffffff 0%,#0000dc 0%,#000080 8%,#000080 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #ffffff 0%,#0000dc 0%,#000080 8%,#000080 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000080',GradientType=0 ); /* IE6-9 */
	}
	
	#top_menu ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}
	
	.sub_menu ul {
		box-shadow: 0 8px 6px -6px black;
	}

	#top_menu li {
		display: block;
		color: white;
		font-family: Verdana, Geneva, sans-serif;
		font-size: 20px;
		font-weight: bold;	
		float: left; 
		position: relative;
		padding: 5px 12px 5px 15px;
		margin-top: 2px;		
	}
	
	#top_menu a:link {
		color: white;
		text-decoration: none;
	}
	
	#top_menu a:visited {
		color: white;
		text-decoration: none;
	}
	
	#top_menu a:hover,a:active
	{
		color: red;
		text-decoration: none;
	}
	
	#top_menu li ul {
		display: none;
		position: absolute;
	}
	
	#top_menu li:hover ul {
		background: navy;
		display: block;		
		height: auto;
		padding-bottom: 10px;
	}
	
	#top_menu li ul li	{
		clear: both;
		border-style: none;
	}	
	/*fading menu styles*/	
	
	.back-to-top {
		position: fixed;
		bottom: 10px;
		right: 5px;
		display: none;		
	}
	
	@media screen and (max-width: 1100px) {
		.back-to-top {
		display: none !important;
		}
	}
	
	#intro {
		padding: 0px 10px 10px 10px;
	}
	
	#toc_header	{
		font-family: Verdana, Geneva, sans-serif; 
		font-size: 24px; 
		color: navy;
		font-weight: bold; 
		font-style: normal; 
		font-variant: normal;
		text-align: left;
		padding: 0px 10px 10px 10px;
	}
	
	#toc_body a {
		font-family: Verdana, Geneva, sans-serif; 
		font-size: 18px;
		font-weight: bold;
		font-style: normal; 
		font-variant: normal; 
		text-transform: none; 
		text-decoration: none;
	}
	
	#toc_body a:link {
		color: blue;
		text-decoration: none;
	}
	
	#toc_body a:visited {
		color: blue;
		text-decoration: none;
	}
	
	.article {
		padding: 0px 10px 10px 10px;		
	}
	
	.black_cell	{		
		height: auto;
		background-color: black;
		color: white;	
		font-family: Verdana, Geneva, sans-serif; 
		font-size: 14px; 
		font-weight: bold;
		padding: 5px;
	}
	
	.center	{
		font-family: Verdana, Geneva, sans-serif; 
		font-size: 18px; 
		text-align: center;		
	}
	
	.ad_sense	{
		text-align: center;	
		background-color: navy;
		padding: 5px;
		margin-bottom: 5px;
	}
	
	span.bold	{
		font-family: Verdana, Geneva, sans-serif; 
		font-size: 18px; 
		font-weight: bold; 
	}
	
	span.title	{
		font-family: Verdana, Geneva, sans-serif; 
		font-size: 24px; 
		font-weight: bold; 
		color: red;
	}
	
	span.heading	{
		font-family: Verdana, Geneva, sans-serif; 
		font-size: 20px; 
		font-weight: bold; 
		color: red;
	}
	
	p.width {
		font-family: Verdana, Geneva, sans-serif; 
		font-size: 18px; 
		font-weight: bold; 
		color: white;
		text-align: center;
	}	
		
	a {		
		text-transform: none; 
		text-decoration: none;	
	}	
	
	a img:hover	{
		opacity: 0.95;
	}	
	
	p	{
		font-family: Verdana, Geneva, sans-serif;
		color: navy;
		font-size: 18px; 
		font-weight: bold; 
		font-style: normal; 
		font-variant: normal;
		text-align: left;
		text-transform: none; 
		text-decoration: none; 
	}

	p :visited {
		color: blue;
		text-decoration: none;
	}
		
	img	{
		border: none;
	}
		
	hr	{
		height: 5px;
		width: 100%;
		border-width: 0;
		color: navy;
		background-color: navy;
		margin: 0;
	}