	
	@import "import_comics.css";

	/*decepticon_comics*/

	body	{
		background-image: url('../teams/indi/transformers/images/decepticon_logo01.gif'); 
		background-repeat: repeat; 
		background-attachment: fixed;
	}	