
	/*  Common styles for comics database iframes page */
	
	.ad_sense	{
		text-align: center;
		position: relative;
		margin-top: 10px;
	}	
	
	header  {		
		position: absolute;
		top: -10px;	
		left: 0px;
		text-align: center;
		width: 100%;
		z-index: -1;
		background-color: white; 
		border-bottom:2px solid black;
	}
		
	footer  {		
		position: absolute;
		bottom: 0px;
		left: 0px;
		text-align: center;
		width: 100%;		
		background-color: white; 
		border-top:2px solid black;
	}
	
	footer p {
		display: inline;
		font-family: Verdana, Geneva, sans-serif;
		font-size: 100%;
		font-weight: bold;
		font-style: italic;		
		position: relative;		
	}	
	
	footer  a {		
		text-transform: none; 
		text-decoration: none;		
	}	
	
	footer img	{
		border: none;
		position: relative;		
	}
		
	iframe {
		border: 0;
		overflow: auto;
	}
	
	iframe#ref {
		width: 75%;
		height: 100%; 
		position: absolute; 
		right: 0px; 
		top: 0px;
	}
	
	iframe#menu {
		width: 25%; 
		height: 100%; 
		position: absolute; 
		left: 0px; 
		top: 0px;
	}