/*main landing page styles*/	
	@import "buzz_out.css";

	body {
		background-image: url('../images/fadedspider01.jpg'); 
		background-repeat: repeat;			
		background-attachment: fixed;
		background-color: white;
		margin: 0px;
		padding: 0px;
		cursor: default;		
	}
	
	#main {
		margin: 0 auto;
		width: 900px;
		height: inherit;
		position: relative;		
	}
	
	#boundary {		
		float: right;
		height: inherit;
		background-color: white;
		border-left: solid navy 10px;
		border-right: solid navy 10px;
		border-bottom: solid navy 10px;	
		overflow: hidden;
		margin-right: 0;
		padding: 0;
	}
	
	#boxShadow {
		float: right;
		background-color: navy;
		box-shadow: 0px 0px 10px 2px black;
		margin-right: 0;
		padding: 0;
	}
	
	#header {
		margin: 0 auto;		
		background-color: navy;
	}
		
	#left {	
		float: left;		
		height: inherit;
		width: 185px;
		border-right: solid navy 10px;
		overflow: hidden;		
		margin: 0px 0px -500px 0px;
		padding: 0px 0px 500px 0px;
	}
	
	#right {			
		float: left;
		height: inherit;
		width: 685px;		
		overflow: hidden;		
		margin: 0px 0px -500px 0px;
		padding: 0px 0px 500px 0px;
	}	
	
	#google_translate_element {
		height: 28px;		
		float: right;
		margin: 2px;
	}

	/*fading menu styles*/	
	#top_menu {
		position: fixed;
		z-index: 1;
		top: 0px;
		float: left;
		margin: 0px 0px 0px 9px;
		height: 75px;
		width: 882px;
		background-color: navy;
		display: none;
		box-shadow: 0px 8px 6px -6px black;
		
			/* gradient color */
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(top,  #ffffff 0%, #0000dc 0%, #000080 8%, #000080 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(0%,#0000dc), color-stop(8%,#000080), color-stop(100%,#000080)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #ffffff 0%,#0000dc 0%,#000080 8%,#000080 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #ffffff 0%,#0000dc 0%,#000080 8%,#000080 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #ffffff 0%,#0000dc 0%,#000080 8%,#000080 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #ffffff 0%,#0000dc 0%,#000080 8%,#000080 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000080',GradientType=0 ); /* IE6-9 */
	}
	
	#top_menu ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}
	
	.sub_menu ul {
		box-shadow: 0 8px 6px -6px black;
	}

	#top_menu li {
		display: block;
		color: white;
		font-family: Verdana, Geneva, sans-serif;
		font-size: 20px;
		font-weight: bold;	
		float: left; 
		position: relative;
		padding: 5px 12px 5px 15px;
		margin-top: 2px;
	}
	
	#top_menu a:link,a:visited {		
		color: white;		
		text-decoration: none;
	}
	
	#top_menu a:hover,a:active
	{
		color: red;
		text-decoration: none;
	}
	
	#top_menu li ul {
		display: none;
		position: absolute;
	}
	
	#top_menu li:hover ul {
		background: navy;
		display: block;		
		height: auto;
		padding-bottom: 10px;
	}
	
	#top_menu li ul li	{
		clear: both;
		border-style: none;
	}
	/*fading menu styles*/	
	
	/*shrinking menu styles*/
	.shrink:hover, .shrink:focus, .shrink:active {
		-webkit-transform: scale(0.99);
		transform: scale(0.99);
	}
	
	.shrink_cc:hover, .shrink_cc:focus, .shrink_cc:active {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
	}
	/*shrinking menu styles*/
	
	/*link container styles*/
	#comics_corner p {
		font-family: Verdana, Geneva, sans-serif;
		font-size: 14px; 
		font-weight: normal; 
		color: navy;
		margin: 0px 10px -15px 0px;
	}
	
	#comics_corner a {		
		font-family: Verdana, Geneva, sans-serif;
		font-size: 14px; 
		font-weight: bold; 
		color: blue;		
	}
	
	#comics_corner img {
		padding: 3px 0px 0px 3px;		
	}
		
	.blue_cell {
		background-color: navy;
		color: red;
		font-family: Verdana, Geneva, sans-serif;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		border-top: solid red 4px;
		border-bottom: solid red 4px;
		border-left: solid navy 2px;
		border-right: solid navy 2px;
		padding: 4px 0px 4px 0px;		
	}
	
	.blue_cell p {
		margin: 2px;
		padding: 0px;
	}
		
	.clear_cell	{	
		text-align: center;
	}
	
	.clear_cell	p {
		margin-bottom: 10px;	
		margin-top: 10px;
		padding: 0px;
		border: 0px;
	}
	/*link container styles*/
	
	.ad_sense	{
		text-align: center;		
	}

	.amazon_ads p {
		font-family: Verdana, Geneva, sans-serif;
		font-size: 10px; 
		font-weight: normal; 
		color: navy;
		margin: -5px 10px -15px 10px;
	}
	
	.back-to-top {
		position: fixed;
		bottom: 10px;
		right: 5px;
		display: none;		
	}
	
	@media screen and (max-width: 1100px) {
		.back-to-top {
		display: none !important;
		}
	}
	
	#encyclo_cell #menu {
		padding-left: 5px;
	}	
	
	#footer	{		
		font-family: Verdana, Geneva, sans-serif;
		font-size: 12pt;
		color: navy;		
		clear: both;
		width: 900px;
		padding-top: 10px;
	}
	
	#footer a {
		font-family: Verdana, Geneva, sans-serif;
		font-size: 12pt;
		font-weight: normal;
		color: blue;
	}
	
	#footer	p {
		font-family: Verdana, Geneva, sans-serif;
		font-size: 12pt;
		font-weight: normal;
		margin-bottom: 10px;	
		margin-top: 10px;
		text-align: center;	
	}
	
	#footer	h2 {		
		margin-bottom: 10px;	
		margin-top: 10px;
		text-align: center;	
	}
	
	span.bold {		
		font-weight: bold; 
	}
	
	span.counter {
		font-size: 150%;
		font-weight: bold; 
	}
	
	a {		
		font-variant: normal; 
		text-transform: none;
		text-decoration: none;	
		outline: 0;
	}
		
	a img {
		border: none;
	}	
	
	hr {
		background-color: red;
		color: red;
		width: 100%;
		height: 10px;
		margin-left: 0px
	}
	
	#comicsans {
		font-family: "Comic Sans MS", cursive, sans-serif;
	}