/*styles for tree menu*/

	*, html { 
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}

	body, form, ul, li, p, h1, h2, h3, h4, h5 {
		margin: 0;
		padding: 0;
	}
	
	body {
		background-color: rgb(153,153,153); 
		color: rgb(255,255,255); 
		margin: 0;
	}
	
	.home {
		font-size: 36px;
	}
	
	.search {
		font-size: 36px;
	}

	img {
		border: none;
	}
	
	p {
		font-size: 24px;
		margin: 0 0 1em 0;
	}

	a {	
		text-transform: none;
		text-decoration: none;
	}

	html {
		font-size: 100%; /* IE hack */
	}

	body {
		font-size: 24px;
	}

	table {
		font-size: 100%; /* IE hack */	
	}
	
	input, select, textarea, th, td {
		font-size: 24px;
	}
	
	/* CSS Tree menu styles */
	ol.tree{
		margin-top: 20px;
		padding: 0 0 0 30px;
		width: 375px;
	}
	
	li { 
		position: relative; 
		margin-left: -15px;
		list-style: none;
	}
	
	li.file {
		margin-left: -1px !important;		
	}
	
	li.file a {
		background: url(../images/menu_images_mobile/file.png) -2px 0 no-repeat;
		color: black;		
		font-weight: bold;
		padding-left: 21px;
		text-decoration: none;
		display: block;
	}
	
	li.file a[href *= '.pdf']{
		background: url(../images/menu_images_mobile/file.png) -2px 0 no-repeat;
	}
	
	li.file a[href *= '.html'] {
		background: url(../images/menu_images_mobile/file.png) -2px 0 no-repeat;
	}
	
	li.file a[href $= '.css'] {
		background: url(../images/menu_images_mobile/file.png) -2px 0 no-repeat;
	}
	
	li.file a[href $= '.js'] {
		background: url(../images/menu_images_mobile/file.png) -2px 0 no-repeat;
	}
		
	li.empty_file {
		margin-left: -1px !important;		
	}
	
	li.empty_file a {
		background: url(../images/menu_images_mobile/empty_file.png) -2px 0 no-repeat;
		color: white;		
		padding-left: 21px;
		text-decoration: none;
		display: block;
	}	
	
		li.nothing_to_see {
		margin-left: -1px !important;		
	}
	
	li.nothing_to_see a {
		background: url(../images/menu_images_mobile/empty_file.png) -2px 0 no-repeat;
		color: yellow;
		font-style: italic;
		padding-left: 21px;
		text-decoration: none;
		display: block;
	}	
	
	li input {
		position: absolute;
		left: 0;
		margin-left: 10;
		opacity: 0;
		z-index: 2;
		cursor: pointer;
		height: 1em;
		width: 1em;
		top: 0;
	}
	
	li input + ol {
		/* background: url(../images/menu_images_mobile/toggle-small-expand.png) 35px 0 no-repeat; */
		margin: -0.995em 0 0 -44px; /* 15px */
		height: 1em;
	}
	
	li input + ol > li {
		display: none; 
		margin-left: -14px !important; 
		padding-left: 1px;
	}
	
	li input:checked + ol {
		/* background: url(../images/menu_images_mobile/toggle-small.png) 35px 5px no-repeat; */
		margin: -1.25em 0 0 -44px; /* 20px */
		padding: 1.563em 0 0 80px;
		height: auto;
	}
		
	li input:checked + ol > li {
		display: block; 
		margin: 0 0 0.125em;  /* 2px */
	}
	
	li input:checked + ol > li:last-child {
		margin: 0 0 0.063em; /* 1px */ 
	}
	
	li label.home {
		background: url(../images/menu_images_mobile/home_lrg01.png) 5px no-repeat;
		margin-bottom: 5px;
		cursor: pointer;
		display: block;
		font-weight:bold;
		padding-left: 60px;		
	}
	
	li label.home a {		
		text-decoration: none;
		color: white;
	}
	
	li label.search {
		background: url(../images/menu_images_mobile/search.png) 5px no-repeat;
		margin-top: 5px;
		cursor: pointer;
		display: block;
		font-weight:bold;
		padding-left: 60px;		
	}
	
	li label.search a {		
		text-decoration: none;
		color: white;
	}
	
	li label.dc {
		background: url(../images/menu_images_mobile/dc.png) 1px 1px no-repeat;
		width: 100%;
		height: 34px;
		margin: 2px;
		cursor: pointer;
		display: block;
		font-weight:bold;
		padding-left: 37px;
		text-decoration: none;
		color: white;
	}
	
	li label.dc a {		
		text-decoration: none;
		color: white;
	}
	
	li label.marvel {
		background: url(../images/menu_images_mobile/marvel.png) 1px 1px no-repeat;
		width: 100%;
		height: 34px;
		margin: 2px;
		cursor: pointer;
		display: block;
		font-weight:bold;
		padding-left: 37px;
		text-decoration: none;
		color: white;
	}
	
	li label.marvel a {		
		text-decoration: none;
		color: white;
	}
	
	li label.indi {
		background: url(../images/menu_images_mobile/indi.png) 1px 1px no-repeat;
		width: 100%;
		height: 34px;
		margin: 2px;
		cursor: pointer;
		display: block;
		font-weight:bold;
		padding-left: 37px;
		text-decoration: none;
		color: white;
	}
	
	li label.indi a {		
		text-decoration: none;
		color: white;
	}	
	
	span.folder {
		text-decoration: none;		
		color: black;
		position: relative;
		top: -3px;
	}
	
	span.empty_folder {
		text-decoration: none;		
		color: white;
		position: relative;
		top: -3px;
	}
	
	li label {
		background: url(../images/menu_images_mobile/folder-horizontal.png) 12px 1px no-repeat;
		cursor: pointer;
		display: block;
		padding-left: 37px;
	}